* {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 400px) {
  body {
    background-image: url(./ripon_video_PC.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
  }
}

body {
  background-image: url(./ripon_video_Mobile.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin-top: 100px;

  color: white;
  font-weight: bolder;
  font-size: 30px;
}
.get-one-button {
  margin-top: 60px;
}
.song-buttons {
  display: flex;
}

.ripon-data {
  margin-top: 80px;
  padding: 20px;
  color: white;
  border: 5px solid white;
  width: 40%;
}
@media only screen and (max-width: 700px) {
  .ripon-data {
    margin-top: 100px;
    color: white;
    text-align: center;
    border: 5px solid white;
    width: 80%;
  }
}

.display {
  font-size: 30px;
}


