*{
  background-color: black;
}
.header{
  margin-top: 20px;
  display: flex;
  align-items:center ;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.play-song{
  display: flex;
  align-items:center ;
  justify-content: center;
  flex-direction: column;

}

.ripon-data{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  box-sizing: border-box;
  border: 5px solid white;
  border-radius: 50px;
  color:white;
  background-color:blueviolet;
}


