* {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 400px) {
  body {
    background-image: url(./ripon_video_PC.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
  }
}

body {
  background-image: url(./ripon_video_Mobile.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin-top: 100px;

  color: white;
  font-weight: bolder;
  font-size: 30px;
}
.get-one-button {
  margin-top: 60px;

}
.song-buttons {
  display: flex;

}

.ripon-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 20px;
  color: white;
  border: 5px solid white;
  width:40%;
  border-style:;
}
@media only screen and (max-width: 500px) {
  .ripon-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: white;
    text-align: center;
    border: 3px solid white;
    width:80%;
    
  }
}

.display {
  font-size: 30px;
  
}

.foot {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
